<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/client/adresses-livraison/liste-adresses">Liste des Adresses</a>
      </li>
      <li class="nav-item">
        <a routerLink="/client/adresses-livraison/formulaire-ajout">Ajouter une Adresse</a>
      </li>
      <li class="nav-item">
        <a routerLink="/client/client-info">Informations du Client</a>
      </li>
      <li class="nav-item">
        <a routerLink="client/liste-commandes">Mes Commandes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/produits/liste-produits">Liste des Produits</a>
      </li>
      <li class="nav-item">
        <a routerLink="/produits/commande-produits">Commandes de Produits</a>
      </li>
    </ul>
  </nav>
  
  